.box{
    display: grid;
    grid-template-columns: 40fr 40fr 40fr;
    grid-row-gap: 10px;
    height: 1000px;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 20px;
    /* border: solid 1px rgba(232, 232, 202, 0.324); */
    
}
.fancy{
    padding: 10px;
    background-color: rgba(242, 235, 235, 0.487);
    
    margin-left: 80px;
    height: 500px;
    width: 500px;
    margin-top: 100px;
}
.me{
    margin-top: 100px;
    padding: 10px;
    background-color: rgba(202, 202, 202, 0.477);
   
    height: 500px;
    width: 500px;
    margin-left: 60px;
    
}
.fancy2{
    
    padding: 10px;
    /* border: 1px solid black; */
    background-color: rgba(242, 235, 235, 0.487);
    height: 500px;
    width: 500px;  
    margin-left: 50px; 
    margin-top: 100px;
}